/* CSS Reset */
*{ margin:0;}

footer {
    color: #777777;
    background-color: #666666;
}
ol, ul {
    list-style: none;
}
li {
   float: left;
   display: block;
   padding: 14px;
   text-decoration: none;
}
a:link, a:visited, a:link:active, a:visited:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

body{
    background-color: #f9fafc;
}
.body{
    text-align: center;
    background-color: #f9fafc;
}
#headerbackground{
    background-color: white;
    position: relative;
    height: 100px;
    margin: 0;
}
#header {
    font-family: Georgia, "Times New Roman", Times, serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    width: 60%;
    color:darkgrey;
}
#header li {
  float: right;
  color: grey;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
#header #name{
    background-color: #4BABA7;
    font-size:40px;
    color:white;
    float:left;
    width: 3em;
}
#standoutbackground{
    float: none;
    background-color: #dbdbdb;
    position: relative;
}
#head{
    color:#4BABA7;
    font-size:30px;
    float:left;
    padding:20px 0 15px 25px;
}
.standout{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    text-align: center;
    border-radius: 1px;
    margin: 20vh;
    width:60%;
    color: grey;
    background-color: white;
}
.bottomwrapper{
    float: left;
    position: fixed;
    bottom: 0px;
    height: 70px;
    width: 100%;
}
#first{
    width: 100%;
    height: 10px;
    background-color: #4BABA7;
}
#second{
    height: 60px;
    width: 100%;
    background-color: grey;
}

#footer {
    color: #cccccc;
    position: absolute;
    bottom: 10%;
    left: 50%;
}

.formBoxTittle {
    text-align: left;
    float: left;
    font-size: 15px;
    padding: 1em 90% 1em 2em;
}
.lineBox {
    float: left;
    margin: 1em 0 2em 3em;
    width: 95%;
    height: 2em;
}
#messageBox {
    float: left;
    margin: 1em 0 2em 3em;
    width: 95%;
    height: 30em;
}

#button {
    background-color: #4BABA7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin-left: 3%;
    margin-bottom: 3%;
}

.projectBox {
    width: 100%;
    height: 6em;
    position: relative;
}

.projectBox img {
    width: 10em;
    height: 5em;
}

.projectBox h1 {
    background-color: #4BABA7;
    position: absolute;
    font-size: 10px;
    color: white;
    width: 15.8em;
    top: 50%;
    left: 44.6%;
}